<body>
    <div class="home__container">
        <h1>¡Bienvenidos a HeroVerse!</h1>
        <h2>Encuentra a tus Superhéroes Favoritos</h2>
        <p>HeroVerse es tu destino número uno para todo lo relacionado con superhéroes. Desde noticias de última hora hasta biografías de los héroes más icónicos, lo tenemos todo.</p>
        <h3>Destacados de la Semana</h3>
        <ul>
            <li>Spiderman: Descubre los últimos cómics y películas de tu amigable vecino Spiderman.</li>
            <li>Wonder Woman: Conoce más sobre la amazona más poderosa y sus aventuras épicas.</li>
            <li>Iron Man: Explora la vida y tecnología de Tony Stark y sus increíbles armaduras.</li>
        </ul>
        <h3>Biografías de Héroes</h3>
        <ul>
            <li>Batman</li>
            <li>Superman</li>
            <li>Black Panther</li>
            <li>Capitán América</li>
            <li>¡Y muchos más!</li>
        </ul>
        <h3>Últimas Noticias</h3>
        <p>Mantente al día con las últimas noticias del mundo de los superhéroes. Desde estrenos de películas hasta anuncios de cómics, estamos aquí para mantenerte informado.</p>
       
    </div>
</body>