<nav>
    <div class="navbar">
        <a href="/api">Inicio</a>
        <a href="/api/dashboard">Héroes</a>
        <a href="/api/heroes/agregar">Crea tu propio Héroe</a>
        
    </div>

</nav>